<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link th:href="@{resources/css/bootstrap.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="${#themes.code('styleSheet')}" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>User orders</title>

</head>
<body>
<h1 align="center"><span th:text="#{label.my-orders}"></span></h1>

<div class="container">
    <table class="w3-table-all w3-centered w3-hoverable w3-card w3-padding" border="1">
        <tr>
            <th>
                <span th:text="#{label.info-items}"></span>
            </th>
            <th>
                <span th:text="#{label.status}"></span>
            </th>
        </tr>
        <tbody>
        <tr th:each="order: ${orders}">
            <td>
                <ul th:each="item: ${order.items}">
                     <span th:text="${item.product.name}"></span>  <span th:text="#{label.quantity2}"></span>
                    <span th:text="${item.quantity}"></span></li>
                </ul>
            </td>
            <td th:text="${order.orderStatus}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>

